.headerBlock {
    border-bottom: 2px solid #e0e0e0;
    border-top: 2px solid #e0e0e0;
    padding-left: 50px;
}


.adminHeaderText {
    display: flex;
}

.adminHeaderText * {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #223354;
    opacity: 0.5;
    text-transform: uppercase;
}

.headersContainer {
    padding: 22px 0;
}
/*.headersContainer span{
    padding-right: 30px;
}*/

.headerBlock {
    background: #F6F8FB;

}