/*
.adminBlockContainer {
    background-color: #F6F8FB;
}*/



.headersContainer {
    padding: 18px 0;
}
/*.headersContainer span{
    padding-right: 30px;
}*/

.headerBlock {
    background: #F6F8FB;

}