.adminBlockContainer {
    padding: 0px 0 100px 0;
    border-radius: 6px;
    box-shadow: 0px 3px 4px 2px rgba(0, 0, 0, 0.2);
    background: #FFFFFF;
}


.searchContainer {
    flex: 0 1 250px;
}

.topContainer {
    display: flex;
    padding: 26px 30px 26px 80px;

}

.mainBlock {
    background-clip: border-box;
    width: 100%;
    display: inline-block;
    overflow-x: auto;
}



