.header {
    background: #FFFFFF;
    padding: 31px 0px 0px 158px; /*при адаптации возможно перенести 158 в логотип*/
    min-height: 121px;
}

.headerContainer {
    display: flex;
    align-items: center;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 17px;
    font-weight: 600;
    font-size: 25px;
    line-height: calc(38 / 25 * 100%);
    background: linear-gradient(91.69deg, #E68B04 45.47%, #0085FF 51.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.menu {
    margin-left: 113px;
}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
}

.menu__li:not(:last-child) {
    margin-right: 28px;
}

.menu__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

