.header {
    background: #FFFFFF;
    padding: 31px 0px 0px 158px; /*при адаптации возможно перенести 158 в логотип*/
    min-height: 121px;
    /*filter: drop-shadow(0px 4px 5px #EFEFEF);*/
}

.headerContainer {
    display: flex;
    align-items: center;
}

.logoBlock {
    display: flex;
    align-items: center;
}

.logo__text {
    margin-left: 17px;
    font-weight: 600;
    font-size: 25px;
    line-height: calc(38 / 25 * 100%);
    background: linear-gradient(91.69deg, #E68B04 45.47%, #0085FF 51.89%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
}

.menu {
    margin-left: 113px;
}

.menu__ul {
    display: flex;
    flex-wrap: wrap;
}

.menu__li {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.menu__li:not(:last-child) {
    margin-right: 28px;
}

.menu__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #000000;
}

.menu__link:hover {
    text-decoration: underline;
    color: #4D47C3;
}

.activeLink {
    font-size: 18px;
    line-height: 27px;
    color: #4D47C3;
    font-weight: 500;
}

@media(max-width: 1180px) {
    .menu__li:not(:last-child) {
        margin-right: 15px;
    }
    .menu__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 27px;
        color: #000000;
    }
    .activeLink {
        font-size: 14px;
        line-height: 27px;
        color: #4D47C3;
        font-weight: 500;
    }

    .menu {
        margin-left: 60px;
    }
    .header {
        background: #FFFFFF;
        padding: 31px 0px 0px 80px; /*при адаптации возможно перенести 158 в логотип*/
        min-height: 121px;
    }

    .logo__text {
        margin-left: 17px;
        font-weight: 600;
        font-size: 22px;
        line-height: calc(38 / 25 * 100%);
        background: linear-gradient(91.69deg, #E68B04 45.47%, #0085FF 51.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }
}

@media(max-width: 650px) {
    .menu__li:not(:last-child) {
        margin-right: 13px;
    }
    .menu__link {
        font-weight: 400;
        font-size: 13px;
        line-height: 27px;
        color: #000000;
    }
    .activeLink {
        font-size: 13px;
        line-height: 27px;
        color: #4D47C3;
        font-weight: 500;
    }

    .menu {
        margin-left: 30px;
    }
    .header {
        background: #FFFFFF;
        padding: 31px 0px 0px 30px; /*при адаптации возможно перенести 158 в логотип*/
        min-height: 121px;
    }

    .logo__text {
        margin-left: 8px;
        font-weight: 600;
        font-size: 15px;
        line-height: calc(38 / 25 * 100%);
        background: linear-gradient(91.69deg, #E68B04 45.47%, #0085FF 51.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }

    .logo__img {
        width: 41px;
        height: 41px;
    }

    .menu__ul {
        display: flex;
        flex-wrap: wrap;
    }
}

@media(max-width: 440px) {
    .menu__li:not(:last-child) {
        margin-right: 5px;
    }
    .menu__link {
        font-weight: 400;
        font-size: 11px;
        line-height: 27px;
        color: #000000;
    }
    .activeLink {
        font-size: 11px;
        line-height: 27px;
        color: #4D47C3;
        font-weight: 500;
    }

    .menu {
        margin-left: 15px;
    }
    .header {
        background: #FFFFFF;
        padding: 31px 0px 0px 5px; /*при адаптации возможно перенести 158 в логотип*/
        min-height: 121px;
    }

    .logo__text {
        margin-left: 8px;
        font-weight: 600;
        font-size: 13px;
        line-height: calc(38 / 25 * 100%);
        background: linear-gradient(91.69deg, #E68B04 45.47%, #0085FF 51.89%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-fill-color: transparent;
    }

    .logo__img {
        width: 31px;
        height: 31px;
    }

    .menu__ul {
        display: flex;
        flex-wrap: wrap;
    }
}

.languageButtonsContainer {
    display: flex;
    width: 84px;
}

.languageButtonsContainer >*:not(:last-child) {
    margin-right: 5px;
}

.engButtonContainer {
    flex: 0 0 50%;
}

.uaButtonContainer {
    flex: 0 0 50%;
}