.container {
    padding-left: 175px;
    display: flex;
}

.container >*:not(:last-child) {
    margin-right: 150px;
}

.leftBlock {
    margin-top: 177px;
}

.leftBlock__content {
    max-width: 530px;
}

.greetings {
    font-weight: 600;
    font-size: 45px;
    line-height: 150%;
    color: #000000;
}

.purpleText {
    color: #4D47C3;
}

.email {
    font-size: 25px;
}

.welcome {
    font-weight: 500;
    font-size: 35px;
    line-height: 148%;
    color: #000000;
}

.explanation {
    display: flex;
    flex-direction: column;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    padding-right: 117px;
    margin-top: 53px;
}

.explanation > *:not(:last-child) {
    margin-bottom: 13px;
}

.imageContainer {
    max-width: 630px;
}

.imageContainer img {
    max-width: 100%;
}

.exitButtonContainer {
    margin-top: 40px;
    max-width: 250px;
}
