.purpleInput {
    background: #F0EFFF;
    border-radius: 8px;
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #A7A3FF;
    width: 100%;
    height: 62px;
    font-family: inherit;
}

.purpleInput::placeholder {
    font-weight: 400;
    font-size: 15px;
    line-height: 22px;
    color: #A7A3FF;
    font-family: 'Poppins', sans-serif;
}